h1.fpc-banner-slogan,
h4.fpc-banner-sub {
  color: #fff;
}
h2.fpc-product-title {
  text-align: center;
}
.fpc-brands-wrap {
  font-size: 20px;
}
.fpc-brands-wrap img {
  width: 80px;
}
.fpc-brands-wrap a{
  color: #fff !important;

}
